@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* 🔥 horizontal scroll fix */
  font-family: Inter, system-ui, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}



.nav {
display: flex;
justify-content: space-between;
padding: 15px 30px;
background: #0f172a;
color: white;
}


.menu {
display: flex;
gap: 20px;
list-style: none;
}


.menu a {
color: white;
text-decoration: none;
}




@media (max-width: 768px) {
.menu {
flex-direction: column;
}
}

/* Scroll Animation */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
